
@import './media/scss/font.scss';

html,
body {
    font-family: 'ProximaNovaRegular', sans-serif !important;
    font-weight: 100;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

table td, table th
{
    padding: 0;
}